@mixin text($font-family: Fraunces, $font-size: 21px, $font-weight: 600, $line-height: 110%, $color: var(--textblue)) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $color;
}

.about-me-banner {
    margin-top: 59px;
    
    &__wrapper {
        display: flex;
        align-items: center;
        gap: 48px;
        padding: 80px 130px;
        background: url('../img/banner_background.png') no-repeat center;
    }
    &__profilepic {
        width: 100%;
        img {
            border-radius: 20px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 65px;
        &-info {
            &-title {
                @include text($font-size: 44px);
                img { width: 33px; }
            }
            &-text {
                @include text($font-weight: 400, $line-height: 126% );
                margin-top: 27px;
            }
        }
        &-btns {
            display: flex;
            align-items: center;
            gap: 40px;
            .btn {
                @include text($font-weight: 350 );
            }
            .btn-black {
                color: #fff;
                background-color: #2A2C32;
                border-radius: 10px;
                padding: 18px 25px;
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .about-me-banner {
        &__wrapper {
            padding: 80px 110px;
        }
        &__content {
            gap: 50px;
            &-info {
                &-title { font-size: 40px; img{ width: 36px;} }
                &-text { font-size: 20px; }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .about-me-banner {
        &__wrapper {
            padding: 80px;
        }
        &__content {
            width: 90%;
            &-info {       
                &-title { font-size: 40px; img{ width: 36px;} }
                &-text { font-size: 18px; }
            }
            &-btns .btn{
                font-size: 19px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .about-me-banner {
        &__wrapper {
            padding: 45px;
        }
        &__content {
            width: 60%;
            &-info {       
                &-title { font-size: 36px; img{ width: 28px;} }
                &-text { font-size: 14px; }
            }
            &-btns {
                gap: 26px;
                .btn-black {
                    padding: 13px 19px;
                }
                .btn {
                    font-size: 15px;
                }
            } 
        }
    }
}

@media screen and (max-width: 767px) {
    .about-me-banner {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
        }
        &__profilepic {
            width: 50%;
        }
        &__content {
            width: 100%;
        }
    }
}

@media screen and (max-width: 559px) {
    .about-me-banner {
        &__content {
            gap: 36px;
            &-info-title { font-size: 32px; img { width: 24px; } }
            &-btns {
                gap: 23px;
                .btn-black {
                    padding: 13px 19px;
                }
                .btn {
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .about-me-banner {
        &__wrapper {
            padding: 30px;
            gap: 25px;
        }
        &__profilepic {
            width: 60%;
        }
        &__content {
            gap: 26px;
            &-info {
                &-title { font-size: 25px; img { width: 20px; } }
                &-text { font-size: 12px; margin-top: 18px;}
            }
            &-btns {
                flex-wrap: wrap;
                gap: 0;
                justify-content: space-between;
                .btn-black { padding: 13px; }
                .btn { font-size: 12px; }
            }
        }
    }
}

@media screen and (max-width: 374px) {
    .about-me-banner {
        &__content {
            &-info-title {
                font-size: 20px;
                img { width: 15px; }
            }
            &-btns {
                gap: 10px;
                justify-content: center;
                .btn-black { padding: 10px; }
            }
        }

    }
}