@mixin text($font-family: Fraunces, $font-size: 20px, $font-weight: 600, $line-height: 110%, $color: #fff) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $color;
}

.design {
    margin-top: 120px;
    padding: 169px 0;
    background-color: #2A2C32;
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 120px;
    }
    &__list {
        &-heading {
            &-title { @include text($font-size: 30px); }
            &-text {
                @include text($font-family: Mulish, $font-weight: 500, $line-height:128.5%);
                margin-top: 14px;
            }
        }
        &-images {
            margin-top: 73px;
            display: flex;
            justify-content: space-evenly;
            gap: 32px;
            &-item {
                
                text-align: center;
                &-text {
                    @include text($font-size: 25px);
                    margin-top: 28px;
                }
            } 
        }
    }
}


@media screen and (max-width: 1199px) {
    .design {
        padding: 130px 0;
    }
}

@media screen and (max-width: 1024px) {
    .design {
        padding: 90px 0;
        margin-top: 100px;
        &__wrapper {
            gap: 60px;
        }
        &__list-heading {
            &-title { font-size: 28px; }
            &-text { font-size: 18px; }
        }
        &__list-images-item-text {
            font-size: 22px;
        }
    }
}

@media screen and (max-width: 559px) {
    .design {
        padding: 65px 0;
        margin-top: 80px;
        &__wrapper {
            gap: 40px;
        }
        &__list {
            &-heading {
                &-title { font-size: 26px; }
                &-text { font-size: 16px; }
            }
            &-images {
                flex-direction: column;
                &-item-text { margin-top: 20px; }
            }
        }
    }
}

@media screen and (max-width: 374px) {
    .design {
        &__list-images-item-text {
            font-size: 20px;
        }
    }
}