@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@mixin text($font-family: Fraunces, $font-size: 20px, $font-weight: 500, $line-height: 128.5%, $color: var(--textgray)) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $color;
}

@mixin wrapper($display: flex, $justify: space-between, $align: center, $gap: 10px) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin block($mt: 120px, $mb: 70px) {
    margin-top: $mt;
    margin-bottom: $mb;
}

@keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

:root {
    --textblue: #242F65;
    --textgray: #D9DFF2;
    --textblackish: #2F2F2F;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

p, a, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

img { max-width: 100%; }

.container {
    width: 100%;
    max-width: 1220px;
    padding: 0 30px;
    margin: 0 auto;
}

.container-xl {
    width: 100%;
    max-width: 1407px;
    padding: 0 30px;
    margin: 0 auto;
}

.go-to-up {
    display: none;
    &.scrollTop {
        display: block;
        position: fixed;
        top: 45%;
        left: 1%;
        max-width: 100%;
        z-index: 9;
        cursor: pointer;
    }
    font-size: 60px;
}

.titles {
    @include block($mt: 97px, $mb:63px);
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 33px;
    }
    &__leftline {
        position: relative;
        height: 40px;
        border-right: solid 1px  #CCC;
        flex: 1;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #CCC;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
    &__rightline {
        position: relative;
        height: 40px;
        border-left: solid 1px  #CCC;
        flex: 1;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #CCC;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
    &__name {
        display: flex;
        gap: 15px;
        align-items: center;
        white-space: nowrap;
        &-text {
            @include text($font-family: Mulish, $font-weight: 700, $color: var(--textblue));
            text-transform: uppercase;
            letter-spacing: 10px;
        }
    }
}

.rot {
    animation: 1s linear 0s normal none infinite running rot;
    -webkit-animation: 8s linear 0s normal none infinite running rot;
    width: 150px;
}

@media screen and (max-width: 1024px) {
    .titles {
        margin-top: 63px;
        &__wrapper { gap: 20px; }
        &__leftline, &__rightline { height: 30px; }
        &__name {
            img {width: 20px;}
            &-text {font-size: 16px; letter-spacing: 8px;}
        }
    }
}

@media screen and (max-width: 767px) {
    .titles {
        margin: 50px 0;
        &__wrapper { gap: 15px; }
        &__leftline, &__rightline { height: 24px; }
        &__name {
            img {width: 17px;}
            &-text {font-size: 14px; letter-spacing: 8px;}
        }
    }
    .container, .container-xl {
        padding: 0 15px;
    }
}

@media screen and (max-width: 559px) {
    .titles {
        &__wrapper { gap: 10px; }
        &__name {
            gap: 8px;
            &-text {letter-spacing: 4px;}
        }
    }
}

@media screen and (max-width: 480px) {
    .titles {
        &__wrapper { gap: 10px; }
        &__leftline, &__rightline { height: 20px; }
        &__name {
            img {width: 14px;}
            &-text {font-size: 12px; letter-spacing: 4px;}
        }
    }
}

@media screen and (max-width: 374px) {
    .titles {
        margin: 40px 0;
        &__wrapper { gap: 8px; }
        &__name-text { font-size: 11px; letter-spacing: 2px; }
    }
}