@mixin text($font-family: Mulish, $font-size: 20px, $font-weight: 500, $line-height: 110%, $color: var(--textblue)) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $color;
}

.project-summary {
    margin-top: 120px;
    &__wrapper {
        display: flex;
        gap: 23px;
    }
    &__info {
        width: 70%;
        &-title { @include text ($font-family: Fraunces, $font-size: 30px); }
        &-text {
            @include text ($line-height: 128.5%, $color: #525665);
            margin-top: 19px;
        }
        &-tags {
            margin-top: 35px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            &-item {
                @include text ($font-size: 18px, $line-height: 148%, $color: #7390F9);
                border-radius: 5px;
                border: solid 1px #7390F9; 
                background-color: transparent;
                padding: 10px 25px;
            }
        }
    }
    &__details {
        display: flex;
        flex-direction: column;
        gap: 23px;
        width: 50%;
        &-title {
            @include text ($font-family: Fraunces, $font-size: 30px);
        }
        &-content {
            padding: 52px 58px;
            background-color: #F5F5F5;
            border-radius: 20px;
            &-item {
                &:not(:last-child) {
                    margin-bottom: 24px;
                }
                &-heading { @include text ($font-family: Fraunces); }
                &-name { @include text($line-height: 128.5%); margin-top: 5px;}
                &-link { @include text($line-height: 128.5%); margin-top: 5px; text-decoration: underline;}
            }
        }   
    }
}

@media screen and (max-width: 1024px) {
    .project-summary {
        margin-top: 90px;
        &__info {
            width: 60%;
            &-title { font-size: 26px; }
            &-text { font-size: 16px; }
            &-tags-item { font-size: 14px; padding: 10px 20px;}
        }
        &__details {
            &-title { font-size: 26px; }
            &-content {
                padding: 45px;
                &-item {
                    &-heading { font-size: 16px; }
                    &-name, a { font-size: 16px; }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .project-summary {
        margin-top: 80px;
        &__wrapper {
            flex-direction: column;
            gap: 30px;
        }
        &__info {
            width: 100%;
        }
        &__details { width: 65%; }
    }
}

@media screen and (max-width: 559px) {
    .project-summary {
        margin-top: 70px;
    }
}

@media screen and (max-width: 480px) {
    .project-summary {
        &__details { width: 100%; }
    }
}

@media screen and (max-width: 374px) {
    .project-summary {
        &__info-tags-item {
            font-size: 12px;
            padding: 10px 16px;
        }
    }
}