@mixin text($font-family: Fraunces, $font-size: 20px, $font-weight: 500, $line-height: 128.5%, $color: var(--textblue)) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $color;
}

@mixin wrapper($display: flex, $justify: space-between, $align: center, $gap: 10px) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

.testimonials {
    &__wrapper {
        margin-top: 60px;
        background-color: #FFF4F0;
        padding: 110px 98px;
    }
    &__heading {
        width: 50%;
        &-title {
            @include text($font-size: 40px, $font-weight:  600, $line-height: 100%);
        }
    }
    &__list {
        margin-top: 60px;
        &-item {
            &-heading {
                @include wrapper($justify: normal, $gap: 15.5px);
                &-title-name {
                    @include text($font-size: 25px, $font-weight: 600, $line-height: 110%);
                    margin: 0;
                }
                &-title-position {
                    @include text($font-family: Mulish, $color: #525665);
                    margin-top: 5px;
                    margin-bottom: 0;
                }
            }
            &-content {
                @include wrapper($gap: 20px);
                &-img { padding: 25px 20px; img { height: auto; width: 46px; max-width: none;}} 
                &-info-text {
                    @include text($font-size: 22px, $font-weight: 400, $line-height: 146.5%, $color: #525665);
                    margin: 0;
                }  
            }
            &:not(:last-child) {
                .line {
                    position: relative;
                    padding: 50px 0;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 60%;
                        height: 1px;
                        background-color: #D0A798;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                    } 
                }
            }
        } 
    }
}

@media screen and (max-width: 1199px) {
    .testimonials__heading {
        width: 70%;
    }
}

@media screen and (max-width: 1024px) {
    .testimonials {
        &__wrapper {
            padding: 70px;
        }
        &__heading-title { font-size: 32px; }
        &__list-item-content-info-text { font-size: 18px; }
    }
}

@media screen and (max-width: 767px) {
    .testimonials {
        &__wrapper {
            padding: 50px;
        }
        &__heading {
            width: 90%;
            &-title { font-size: 28px; }
        }
        &__list {
            margin-top: 40px;
            &-item {
                &:not(:last-child) {
                    .line {
                        padding: 40px 0;
                        &:before {
                            width: 70%;
                        }
                    }
                }
                &-heading-img {
                    width: 75px;
                }
                &-heading-title-name { font-size: 22px; }
                &-heading-title-position { font-size: 17px; }
                &-content {
                    &-img {
                        padding: 16px;
                        img { width: 40px; }
                    }
                    &-info-text { font-size: 16px; }
                }
            }
        }
    }
}

@media screen and (max-width: 559px) {
    .testimonials {
        &__heading {
            width: 100%;
            &-title { font-size: 26px; }
        }
        &__list-item {
            display: flex;
            flex-direction: column;
            gap: 20px;
            &:not(:last-child) .line:before {
                left: 16%;
            }
            &-heading {
                flex-direction: column;
                &-title { text-align: center; }
                &-img {
                    width: 65px;
                }
            }
            &-heading-title-name { font-size: 20px; }
            &-heading-title-position { font-size: 16px; }
            &-content {
                flex-direction: column;
                &-img {
                    display: none;
                    padding: 0px;
                    img { width: 36px; }
                }
                &-info-text { font-size: 16px; }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .testimonials {
        &__wrapper {
            padding: 40px;
        }
    }
}

@media screen and (max-width: 374px) {
    .testimonials {
        &__wrapper {
            margin-top: 50px;
        }
        &__heading-title { font-size: 22px; }
        &__list-item {
            &:not(:last-child) {
                .line {
                    padding: 30px 0;
                    &:before {
                        width: 75%;
                        left: 13%;
                    }
                }
            }
            &-content-info-text { font-size: 14px; }
        }
    }
}